@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

/* ========= Utility Class ==========  */

@media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1180px;
    }
}

a {
    text-decoration: none;
}

.font_200 {
    font-weight: 200 !important;
}

.font_300 {
    font-weight: 300 !important;
}

.font_400 {
    font-weight: 400 !important;
}

.font_500 {
    font-weight: 500 !important;
}

.font_600 {
    font-weight: 600 !important;
}

.font_700 {
    font-weight: 700 !important;
}

.font_800 {
    font-weight: 800 !important;
}

.font_900 {
    font-weight: 900 !important;
}

.font_10 {
    font-size: 10px !important;
}

.font_12 {
    font-size: 12px !important;
}

.font_14 {
    font-size: 14px !important;
}

.font_15 {
    font-size: 15px !important;
}

.font_16 {
    font-size: 16px !important;
}

.font_17 {
    font-size: 17px !important;
}

.font_18 {
    font-size: 18px !important;
}

.font_19 {
    font-size: 19px !important;
}

.font_20 {
    font-size: 20px !important;
}

.font_22 {
    font-size: 22px !important;
}

.font_24 {
    font-size: 24px !important;
}

.font_25 {
    font-size: 25px !important;
}

.font_26 {
    font-size: 26px !important;
}

.font_28 {
    font-size: 28px !important;
}

.font_30 {
    font-size: 30px !important;
}

.font_32 {
    font-size: 32px !important;
}

.font_36 {
    font-size: 36px !important;
}

.font_40 {
    font-size: 40px !important;
}

.font_46 {
    font-size: 46px !important;
}

.font_48 {
    font-size: 48px !important;
}

.font_64 {
    font-size: 64px !important;
    letter-spacing: -1px;
    line-height: 89px;
}

.nav-link:hover {
    color: inherit;
}

.btn:focus,
.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

button {
    border: inherit;
}

.black_00 {
    color: #000000 !important;
}

.white_ff {
    color: #ffffff !important;
}

.black_23 {
    color: #232323 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.red_button {
    background: #000000;
    position: relative;
    color: #ffffff;
    padding: 14px !important;
    border: 1px solid transparent;
    width: 234px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.red_button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.red_button:hover:after {
    width: 120%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.red_button img,
.red_button span {
    margin-right: 10px;
}

/* ========= Utility Class ==========  */

/* ===========================================
Header Stying Starts Here
=========================================== */

.main_header {
    border-bottom: 1px solid #E0E0E0;
    padding: 22px 0 22px 0;
    background: #FFFFFF;
    z-index: 9999;
}

.main_header .navbar {
    padding: 0;
}

.main_header .navbar-toggler {
    padding: 0;
    border: none;
}

.main_header .navbar-toggler:focus {
    box-shadow: none;
}

.home_nav .nav-item {
    padding: 0 10px 0 12px;
}

.home_nav .nav-item:first-of-type {
    padding-left: 0px;
}

.home_nav .nav-item .nav-link {
    padding: 8px 7px;
    position: relative;
}

.home_nav .nav-item .nav-link.active {
    border-bottom: 2px solid #0075FF;
}

.home_nav .nav-item .nav-link::before {
    content: "";
    background-color: #0075FF;
    transition: 0.4s ease-out;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.home_nav .nav-item .nav-link:hover::before {
    width: 100%;
}

.home_nav .nav-item .nav-link.active:hover::before {
    display: none;
}

.home_nav .nav-item .nav-link.red_button {
    padding: 13.5px 28px !important;
    width: auto;
    white-space: nowrap;
}

.home_nav .nav-item .nav-link.red_button::before {
    display: none;
}

.home_nav .nav-item.dropdown {
    padding: 0;
}

.home_nav .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 100%;
}

.ktm-mega-menu {
    position: static;
}

.mega-menu {
    left: 0;
    right: 0;
    width: 100%;
}

.ktm-mega-menu .dropdown-menu li {
    position: relative;
}

.home_nav .dropdown:hover>.dropdown-menu {
    display: block;
    border-radius: 0;
}

.nav_icon_square {
    margin-right: 10px;
    height: 46px;
    width: 46px;
    background: #D9D9D9;
}

.inner_ul {
    padding-left: 56px;
    margin-bottom: 40px;
}

.inner_ul li {
    margin-bottom: 10px;
}

.yellow_part {
    background: linear-gradient(111.08deg, #FF2E00 4.78%, #FFB800 98.1%);
    padding: 25px 30px;
}

.white_button {
    background: #FFFFFF;
    padding: 20.5px 22.5px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 700;
}

/* ===========================================
Header Stying Ends Here
=========================================== */
/* ===========================================
Footer Page Stying Starts Here
=========================================== */

.footer {
    padding-top: 100px;
}

.first_bg {
    border-radius: 10px;
    padding: 30px 64px;
    position: relative;
    margin-bottom: 100px;
    background: url(../images/pageImages/Let-collaborate.png);
    background-repeat: no-repeat;
    width: 100%;
    background-color: #0075FF;
}

.sound_image {
    height: 100%;
}

.sound_image img {
    width: 100%;
}

.hiring {
    border-top: 1px solid #DDDBDB;
    padding-top: 42px;
}

.footer_li {
    padding-left: 0;
}

.footer_li li {
    margin-top: 25px;
}

.footer_li li a {
    position: relative;
    padding-bottom: 8px;
}

.footer_li li a::before {
    content: "";
    background-color: #0075FF;
    transition: 0.4s ease-out;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.footer_li li a:hover::before {
    width: 100%;
}

.footer_li li a {
    text-decoration: none;
    color: #232323;
}

.footer_contact {
    margin-top: 50px;
    background: #F5F5F5;
    padding: 15px 0;
}

.contact_cards_image {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 18px;
}

.contact_cards_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact_cards_text {
    flex: 1;
}

.contact_cards_text p {
    margin-bottom: 8px;
}

.footer_other_links {
    background: #ffffff;
    padding: 25px 0;
}

.copyright_text p {
    color: #959595;
}

.other_links_text {
    letter-spacing: 1.8px;
}

.other_link_divider {
    padding: 0 5px;
}

.easy_connect {
    background: #F5F5F5;
}

.really_us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.really_us p {
    padding: 25px 0 25px 10px;
}

.really_us_button {
    padding: 25px 0;
}

.really_us_image {
    margin-top: -12px;
}

#testimonial .owl-next:hover,
#testimonial .owl-prev:hover {
    background: transparent;
}

.testimonial_review_1 {
    margin-top: 70px;
}

.why_choose {
    overflow-x: hidden;
}

#whyChoose {
    width: 50vw;
}

#whyChoose .owl-nav {
    position: absolute;
    left: -78%;
    bottom: 15%;
}

#whyChoose .owl-next:hover,
#whyChoose .owl-prev:hover {
    background: transparent;
}

.why_choose {
    background: #ffffff;
    padding: 75px 0 110px 0;
}

.choose_button {
    margin-top: 50px;
}

.choose_experience {
    padding: 70px 30px;
    background: #FBFBFB;
}

.choose_experience_image {
    margin-bottom: 40px;
}

.help_heading {
    margin-bottom: 60px;
}

.white_button {
    background: white;
    color: #0075FF;
}

.white_button span::before {
    color: #0075FF !important;
}

/* ===========================================
Footer Page Stying Ends Here
=========================================== */

/* ========== Media Query Starts ===========  */

@media (max-width: 1400px) {
    .line_gradient::after {
        top: 10%;
    }

    .main_header .navbar-brand {
        width: 250px;
    }

    .home_nav .nav-item {
        padding: 0 12px;
    }
}

@media (max-width: 1200px) {
    .font_10 {
        font-size: 10px !important;
    }

    .font_12 {
        font-size: 12px !important;
    }

    .font_14 {
        font-size: 14px !important;
    }

    .font_15 {
        font-size: 14px !important;
    }

    .font_16 {
        font-size: 15px !important;
    }

    .font_17 {
        font-size: 16px !important;
    }

    .font_18 {
        font-size: 16px !important;
    }

    .font_19 {
        font-size: 18px !important;
    }

    .font_20 {
        font-size: 18px !important;
    }

    .font_22 {
        font-size: 20px !important;
    }

    .font_24 {
        font-size: 22px !important;
    }

    .font_26 {
        font-size: 22px !important;
    }

    .font_25 {
        font-size: 22px !important;
    }

    .font_28 {
        font-size: 22px !important;
    }

    .font_30 {
        font-size: 23px !important;
    }

    .font_32 {
        font-size: 23px !important;
    }

    .font_36 {
        font-size: 24px !important;
    }

    .font_40 {
        font-size: 24px !important;
    }

    .font_46 {
        font-size: 32px !important;
    }

    .font_48 {
        font-size: 32px !important;
    }

    .font_64 {
        font-size: 40px !important;
        line-height: normal;
    }

    .home_nav .nav-item .nav-link.red_button {
        padding: 13.5px 10px !important;
    }

    .line_height_70 {
        line-height: normal;
    }

    .main_header .navbar-brand {
        width: 230px;
    }

    .home_nav .nav-item {
        padding: 0 4px;
    }

    .hero_line_image {
        height: 388px;
    }

    .testimonial_review_1 {
        margin-top: 0px;
    }

    #whyChoose .owl-nav {
        bottom: 50%;
    }

    .es_bg::before {
        transform: translateX(17%);
    }

    .contact_app::before {
        height: 76%;
    }
}

@media (max-width: 992px) {
    .font_10 {
        font-size: 10px !important;
    }

    .font_12 {
        font-size: 12px !important;
    }

    .font_14 {
        font-size: 14px !important;
    }

    .font_15 {
        font-size: 14px !important;
    }

    .font_16 {
        font-size: 15px !important;
    }

    .font_17 {
        font-size: 16px !important;
    }

    .font_18 {
        font-size: 16px !important;
    }

    .font_19 {
        font-size: 18px !important;
    }

    .font_20 {
        font-size: 18px !important;
    }

    .font_22 {
        font-size: 20px !important;
    }

    .font_24 {
        font-size: 22px !important;
    }

    .font_26 {
        font-size: 22px !important;
    }

    .font_25 {
        font-size: 22px !important;
    }

    .font_28 {
        font-size: 22px !important;
    }

    .font_30 {
        font-size: 23px !important;
    }

    .font_32 {
        font-size: 23px !important;
    }

    .font_36 {
        font-size: 24px !important;
    }

    .font_40 {
        font-size: 26px !important;
    }

    .font_46 {
        font-size: 30px !important;
    }

    .font_48 {
        font-size: 30px !important;
    }

    .font_64 {
        font-size: 30px !important;
    }

    .hero_buttons {
        width: 100%;
    }

    .hero_buttons button {
        width: 50% !important;
    }

    .black_outline_btn {
        margin-left: 10px;
    }

    .years_number {
        font-size: 50px;
    }

    .years_number sup {
        vertical-align: unset;
    }

    .many_years {
        margin-right: 30px;
    }

    .innovators_box {
        padding: 30px;
    }

    .tab_gray_box {
        padding: 25px;
    }

    .first_bg {
        padding: 30px;
    }

    .testimonial_review {
        margin-top: 30px;
    }

    .home_nav .nav-item:first-of-type {
        padding-top: 30px;
    }

    .home_nav .nav-item {
        padding: 10px 0;
    }

    .home_nav .nav-item:last-of-type {
        padding: 0;
    }

    .home_nav {
        align-items: start !important;
    }

    .home_nav .nav-item .nav-link.red_button {
        padding: 13.5px 28px !important;
    }

    .line_gradient::after {
        top: 00%;
    }

    .hero_line_image {
        height: 364px;
    }

    .special_technologies_detail_heading .tab_box_heading_image {
        height: 95px;
        width: 95px;
    }

    .web_mockup_text {
        padding: 20px 0;
    }

    .hero__image-el {
        position: relative;
        width: 100%;
        transform: unset;
    }

    .backend_technology .backend_softwares {
        width: 30%;
    }

    .es_bg::before {
        transform: translateX(27%);
    }

    .development_enterprise {
        padding: 50px 30px 50px 30px;
    }

    .build_form {
        padding: 45px 0;
    }

    .form_fields {
        margin-top: 60px;
    }

    .contact_form {
        padding: 30px;
    }

    .contact_app::before {
        height: 70%;
    }
}

@media (max-width: 768px) {
    .font_10 {
        font-size: 10px !important;
    }

    .font_12 {
        font-size: 12px !important;
    }

    .font_14 {
        font-size: 14px !important;
    }

    .font_15 {
        font-size: 14px !important;
    }

    .font_16 {
        font-size: 15px !important;
    }

    .font_17 {
        font-size: 15px !important;
    }

    .font_18 {
        font-size: 16px !important;
    }

    .font_19 {
        font-size: 16px !important;
    }

    .font_20 {
        font-size: 16px !important;
    }

    .font_22 {
        font-size: 16px !important;
    }

    .font_24 {
        font-size: 17px !important;
    }

    .font_26 {
        font-size: 17px !important;
    }

    .font_25 {
        font-size: 18px !important;
    }

    .font_28 {
        font-size: 18px !important;
    }

    .font_30 {
        font-size: 20px !important;
    }

    .font_32 {
        font-size: 20px !important;
    }

    .font_36 {
        font-size: 20px !important;
    }

    .font_40 {
        font-size: 26px !important;
    }

    .font_46 {
        font-size: 28px !important;
    }

    .font_48 {
        font-size: 28px !important;
    }

    .font_64 {
        font-size: 28px !important;
    }

    .app_blue_left {
        padding-left: 30px;
    }

    .user_counts {
        flex-wrap: wrap;
        width: 100%;
    }

    .many_years {
        width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .app_text_spacing {
        margin: 30px 0 45px 0;
    }

    .hero_design {
        padding: 50px 0;
    }

    .app_company {
        padding-bottom: 50px;
    }

    .inn_margin_bottom {
        margin-bottom: 50px;
    }

    .innovators_box {
        padding: 20px;
    }

    .technologies {
        padding: 50px 0;
    }

    .tab_gray_box {
        padding: 20px;
    }

    .case_study {
        padding-bottom: 50px;
    }

    .lemi_green_light {
        padding: 20px;
    }

    .lemi_blue_light {
        padding: 20px;
    }

    .lemi_orange_light {
        padding: 20px;
    }

    .lemi_blue {
        margin-top: 20px;
    }

    .first_bg {
        margin-bottom: 50px;
    }

    .sm_top_margin_10 {
        margin-top: 10px !important;
    }

    .contact_cards {
        margin-bottom: 15px;
    }

    .copyright_text {
        margin-top: 15px;
    }

    .happy_clients {
        padding: 50px 0;
    }

    .testimonial_review {
        margin-bottom: 30px;
    }

    .why_choose {
        padding: 50px 0;
    }

    .footer {
        padding-top: 50px;
    }

    .hero_blue_image {
        display: none;
    }

    .especially_heading {
        padding: 50px 0;
    }

    .hero_line_image {
        display: none;
    }

    .especiallty_button {
        text-align: start !important;
    }

    .special_technologies_image {
        margin: 20px 0;
    }

    .special_technologies_detail {
        margin-top: 20px;
    }

    .special_technologies_detail_heading .tab_box_heading_image {
        height: 75px;
        width: 75px;
    }

    .testimonial_review_1 {
        margin-bottom: 30px;
    }

    #whyChoose .owl-nav {
        position: relative;
        left: unset;
    }

    .es_bg::before {
        display: none;
    }

    .mobile_app::before {
        display: none;
    }

    .developped_company {
        padding: 50px 0;
    }

    .our_case_study {
        padding: 50px 0;
    }

    .build_form {
        padding: 40px 0;
    }

    .form_fields {
        margin-top: 40px;
    }

    .why_us {
        padding: 50px 0;
    }

    .free_box {
        padding: 45px 45px;
    }

    .free_box_image {
        height: 80px;
    }

    .free_box_image img {
        height: 100%;
        width: 100%;
    }

    .free_box_text {
        margin-left: 30px;
    }

    .contact_form {
        margin-top: 20px;
    }

    .mappin_border {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .font_10 {
        font-size: 10px !important;
    }

    .font_12 {
        font-size: 12px !important;
    }

    .font_14 {
        font-size: 12px !important;
    }

    .font_15 {
        font-size: 12px !important;
    }

    .font_16 {
        font-size: 13px !important;
    }

    .font_17 {
        font-size: 14px !important;
    }

    .font_18 {
        font-size: 14px !important;
    }

    .font_19 {
        font-size: 14px !important;
    }

    .font_20 {
        font-size: 15px !important;
    }

    .font_22 {
        font-size: 16px !important;
    }

    .font_24 {
        font-size: 16px !important;
    }

    .font_26 {
        font-size: 16px !important;
    }

    .font_25 {
        font-size: 16px !important;
    }

    .font_28 {
        font-size: 16px !important;
    }

    .font_30 {
        font-size: 20px !important;
    }

    .font_32 {
        font-size: 20px !important;
    }

    .font_36 {
        font-size: 20px !important;
    }

    .font_40 {
        font-size: 22px !important;
    }

    .font_46 {
        font-size: 24px !important;
    }

    .font_48 {
        font-size: 24px !important;
    }

    .font_64 {
        font-size: 24px !important;
    }

    .black_outline_btn {
        height: 45px;
    }

    .hero_buttons .red_button {
        height: 45px;
    }

    .years_number {
        font-size: 40px;
    }

    .years_number sup {
        vertical-align: revert;
        font-size: 30px;
    }

    .many_years {
        width: 49%;
    }

    .line_height_29 {
        line-height: normal;
    }

    .technology_tabs .nav-item .nav-link {
        padding: 0 20px 9px 20px;
    }

    .main_header .navbar-brand {
        width: 200px;
    }

    .special_technologies_detail_heading .tab_box_heading_image {
        height: 55px;
        width: 65px;
    }

    .backend_technology .backend_softwares {
        width: 50%;
    }

    .powers_app {
        display: grid;
    }

    .powers_app_one {
        margin-bottom: 25px;
    }

    .build_form {
        padding: 25px 0;
    }

    .form_fields {
        margin-top: 30px;
    }

    .free_box {
        padding: 25px 25px;
    }

    .contact_form {
        padding: 20px;
    }
}

/* ========== Media Query Ends ===========  */

/* //////// MEGA MENU ////// 
/////////////////////////////
///////////////////////// */

.mb-development {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 14px;
    padding: 14px;
}

.mb-development:hover {
    box-shadow: 0px 0px 15px -1px #dedfec;
}

.mb-icon-name {
    color: #000000;
    font-size: 24px;
    flex: 1;
    text-align: start;
}

ul.main-nav {
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.sub-menu-block {
    background: white;
    border-radius: 14px;
    inset: 0px auto auto 0px;
    /* transform: translate3d(234.909px, 85.8182px, 0px); */
    padding: 0px !important;
    box-shadow: 0px 0px 10px 1px #dedfec;
    max-width: 1100px;
    width: 100%;
    /* overflow: auto; */
}

ul.main-nav>li {
    display: inline-block;
    padding: 0;
}

ul.main-nav>li>a {
    display: block;
    padding: 20px 30px;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

ul.main-nav>li:hover {
    background-color: #f9f9f9;
}

ul.main-nav>li:hover>a {
    color: #ffffff;
    font-weight: 400;
}

ul.main-nav>li ul.sub-menu-lists {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
}

ul.main-nav>li ul.sub-menu-lists>li {
    padding: 2px 0;
}

ul.main-nav>li ul.sub-menu-lists>li>a {
    font-size: 14px;
}

.ic {
    position: fixed;
    cursor: pointer;
    display: inline-block;
    right: 25px;
    width: 32px;
    height: 24px;
    text-align: center;
    top: 0px;
    outline: none;
}

.ic.close {
    opacity: 0;
    font-size: 0px;
    font-weight: 300;
    color: #fff;
    top: 8px;
    height: 40px;
    display: block;
    outline: none;
}

/* Menu Icons for Devices*/
.ic.menu {
    top: 25px;
    z-index: 20;
}

.ic.menu .line {
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.ic.menu .line-last-child {
    margin-bottom: 0px;
}

.sub-menu-head {
    margin: 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
}

.banners-area {
    margin-top: 20px;
    padding-top: 15px;
}

.banners-area img {
    width: 150px;
}

.first_menu {
    background: linear-gradient(180deg, #0075ff, #ff8a00);
    padding: 16px;
    color: #ffffff;
    border-radius: 14px 0 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.first_menu>p {
    font-size: 16;
    font-weight: 500;
    text-align: left;
    line-height: 152.5%;

}

.white_button {
    background: #FFFFFF;
    padding: 16px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 700;
}

.padding0 {
    padding: 0;
}

.m-anav .nav-link {
    height: 33%;
    background: white;
    color: black !important;
    border-radius: 0;
    width: 100%;
}

.m-anav .nav-link.active {
    background: white;
    color: black !important;
    border-bottom: 5px solid #0075FF;
}

.m-anav .nav-link:hover {
    box-shadow: 0 0 10px -1px #dedfec;
}

@media only screen and (max-width:768px) {
    .sub-menu-head {
        color: orange;
    }

    .ic.menu {
        display: block;
    }

    header.dark .ic.menu .line {
        background-color: #fff;
    }

    header.light .ic.menu .line {
        background-color: #000;
    }

    .ic.menu .line {
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }

    .ic.menu:focus .line {
        background-color: #fff !important;
    }

    .ic.menu:focus .line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .ic.menu:focus .line:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -10px;
    }

    .ic.menu:focus .line:nth-child(3) {
        transform: translateY(15px);
        opacity: 0;
    }

    .ic.menu:focus {
        outline: none;
    }

    .ic.menu:focus~.ic.close {
        opacity: 1;
        z-index: 21;
        outline: none;
    }

    /*
    
    .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
    .ic.close:focus { opacity: 0; }
    */
    .ic.menu:hover,
    .ic.menu:focus {
        opacity: 1;
    }


    nav {
        background-color: transparent;
    }

    /* Main Menu for Handheld Devices  */
    ul.main-nav {
        z-index: 2;
        padding: 50px 0;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 0px;
        background-color: rgba(0, 0, 0, 1);
        height: 100%;
        overflow: auto;
        /*CSS animation applied : Slide from Right*/
        -webkit-transition-property: background, width;
        -moz-transition-property: background, width;
        -o-transition-property: background, width;
        transition-property: background, width;
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }

    .ic.menu:focus~.main-nav {
        width: 300px;
        background-color: rgba(0, 0, 0, 1);
    }

    ul.main-nav>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }

    .ic.menu:focus~.main-nav>* {
        opacity: 1;
    }

    ul.main-nav>li>a:after {
        display: none;
    }

    ul.main-nav>li:first-child {
        border-radius: 0px;
    }

    ul.main-nav>li {
        display: block;
        border-bottom: 1px solid #444;
    }

    ul.main-nav>li>a {
        font-weight: 600;
    }

    ul.main-nav>li ul.sub-menu-lists>li a {
        color: #eee;
        font-size: 14px;
    }

    .sub-menu-head {
        font-size: 16px;
    }

    ul.main-nav>li:hover {
        background-color: transparent;
    }

    ul.main-nav>li:hover>a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

    .ic.menu:focus~ul>li>div.sub-menu-block {
        border-left: 0px solid #ccc;
        border-right: 0px solid #ccc;
        border-bottom: 0px solid #ccc;
        position: relative;
        visibility: visible;
        opacity: 1.0;
        padding: 10px !important;
    }

    .banners-area {
        padding-bottom: 0px;
    }

    .banners-area div {
        margin-bottom: 15px;
    }

    .banners-area {
        border-top: 1px solid #444;
    }

    .mb-icon-name {
        font-size: 14px;
    }



    .mb-icons {
        height: 24px;
        width: 24px;
    }

    .mb-icons img {
        height: 100%;
        width: 100%;
    }

    .home_nav .nav-item .nav-link {
        font-size: 14px;
    }
}

@media(max-width:575px) {
    .home_nav .nav-item .nav-link {
        font-size: 12px;
    }

    .mb-development {
        padding: 0;
        margin: 14px 0;
    }
}

@media only screen and (min-width:769px) {
    .ic.menu {
        display: none;
    }

    /* Main Menu for Desktop Devices  */
    ul.main-nav {
        display: block;
        position: relative;
    }

    /* Sub Menu */
    ul>li>div.sub-menu-block {
        visibility: hidden;
        position: absolute;
        margin-top: 75px;
        width: 100%;
        color: #333;
        right: 0;
        box-sizing: border-box;
        z-index: 3;
        font-size: 16px;
        opacity: 0;

        /*CSS animation applied for sub menu : Slide from Top */
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;

    }

    ul>li:hover>div.sub-menu-block {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    ul>li>div.sub-menu-block>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }

    ul>li:hover>div.sub-menu-block>* {
        opacity: 1;
    }

    .sub-menu-head {
        font-size: 40px;
    }

    /* List Separator: Outer Border */
    header.dark ul.main-nav>li>a {
        border-right: 1px solid #bbb;
    }

    header.light ul.main-nav>li>a {
        border-right: 1px solid #666;
    }

    /* List Separator: Inner Border */
    ul.main-nav>li>a:after {
        content: '';
        width: 1px;
        height: 62px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
    }

    header.dark ul.main-nav>li>a:after {
        background-color: #777;
    }

    header.light ul.main-nav>li>a:after {
        background-color: #999;
    }

    /* Drop Down/Up Arrow for Mega Menu */
    ul.main-nav>li>a.mega-menu>span {
        display: block;
        vertical-align: middle;
    }

    ul.main-nav>li>a.mega-menu>span:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        content: '';
        background-color: transparent;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }

    ul.main-nav>li:hover>a.mega-menu span:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #666;
    }

    .banners-area {
        border-top: 1px solid #ccc;
    }
}